<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yinjiansystem.yinjian.dao.BuyMapper">

    <select id="selectLatestGame" resultType="String">
        select gameName from buy where type = 0 group by gameName, createTime order by createTime desc;
    </select>

    <select id="selectPersonalLatestBuy" resultType="com.yinjiansystem.yinjian.pojo.Buy" parameterType="String">
        select * from buy
        where userName = #{userName}
        order by id desc, createTime desc LIMIT 10;
    </select>

</mapper>
