<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yinjiansystem.yinjian.dao.UserMapper" >
    <resultMap type="com.yinjiansystem.yinjian.pojo.User" id="UserResult">
        <id     property="id" 	    	    column="id"/>
        <result property="name" 	    	column="name"/>
        <result property="userName"  	    column="userName"/>
        <result property="password"  	    column="password"/>
        <result property="type"      	    column="type"/>
        <result property="createTime"    	column="createTime"/>
        <result property="updateTime" 	    column="updateTime"/>
    </resultMap>

    <!--根据id查询-->
    <select id="selectById" parameterType="String" resultMap="UserResult">
	   SELECT
	        *
		FROM user
			WHERE 1 = 1
        <if test="id != null and id != ''">
            AND id = #{id}
        </if>
        <if test="name != null and name != ''">
            AND name = #{name}
        </if>
        <if test="userName != null and userName != ''">
            AND userName = #{userName}
        </if>
        <if test="password != null and password != ''">
            AND password = #{password}
        </if>
        <if test="type != null and type != ''">
            AND type = #{type}
        </if>

	</select>

    <!-- 新增User -->
    <insert id="insertUser" parameterType="com.yinjiansystem.yinjian.pojo.User" >
        insert into user (id,name,userName,password,type,createTime,updateTime)
        values (#{id},#{name},#{userName},#{password},#{type},#{createTime},#{updateTime})
    </insert>

    <update id="updateUser" parameterType="com.yinjiansystem.yinjian.pojo.User" >
        update user
        set
            name = #{name},
            userName = #{userName},
            password = #{password},
            type = #{type},
            updateTime = #{updateTime}
        where id = #{id};
    </update>

    <delete id="deleteByIds" parameterType="String">
        delete from
        user
        where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>


</mapper>
